body *{
    font-family: 'Poppins', sans-serif;
}
.icone1{   width: 35px;
  height: 35px;}
.icone2{   width: 35px;
  height: 35px;}
.icone3{   width: 35px;
  height: 35px;}
.icone4{   width: 35px;
  height: 35px;}